*{ /*afecta a todo el documento*/
    overflow: hidden; /*evita el scroll hacia abajo*/
    margin: 0px ; /*distancia de margenes exteriores*/
    padding: 0px; /*distancia de margenes interiores*/    
    text-align: center; /*Se centra el contenido*/   
}
@font-face{ /*carga una fuente personalizada desde un archivo*/
    font-family: "fuente"; /*se declara el nombre de la fuente*/
    src: url(digital-7.ttf); /*se selecciona el archivo de la fuente*/
}

html, body { /*afecta a todo el cuerpo del documento*/
height:100vh;
    font-family: "fuente"; /*estilo de letra*/     
}
#fondo{ 
    height:100vh;
    background-color: green;
}
#superior{
    background-color: black;
}
#pantalla{  
    background-color: blue;
}
#video{

 background-color: yellow;
}
#vortice{
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
    width: 30%; /*El ancho de la imagen cambia segun el ancho de la pag*/
    padding-top: 0; /*crea un margen interior*/
    animation-name: giro; /*se declara una animacion con el nombre de "bordes"*/
    animation-duration: 6s; /*se declara la duracion de la animacion*/
    animation-iteration-count: infinite; /*se declara las veces que se reproducira la animacion*/
    animation-play-state: running; /*se declara si el estado de pausa/play*/
    animation-direction:reverse; /*se declara el sentido de reproduccion*/
    animation-timing-function: linear; /*se declara la velocidad de reporduccion*/
}
@keyframes giro {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
#lienzo{
    position:absolute;
    top:0px;
    left:0%;
    z-index:2;
   }
#inferior{
    background-color: black;
}

#comandos{
 margin-top:5vh;
 display:inline-block;  
 text-align: center; /*Se centra el contenido*/   
 
}#alternos{
    margin-top:5vh;
    display:inline-block;  
    text-align: center; /*Se centra el contenido*/   
   }
#modo{
    font-size: 6vw; /*tamaño de letra*/
    width: 40%;
}
#captura{
    font-size: 6vw; /*tamaño de letra*/   
    width: 40%;
}
#rechazar{
    font-size: 6vw; /*tamaño de letra*/
    width: 40%;
}
#aceptar{
    font-size: 6vw; /*tamaño de letra*/   
    width: 40%;
}
#final{ /*afecta a la seccion final*/
    font-size:2vw; /*tamaño de letra*/
    border-top: solid 1px black; /*colorea solo el border superior de la caja*/
}
